body, select {
  font: 10pt sans;
}
#mynetwork {
  position:relative;
  width: auto;
  height: 400px;
  border: 1px solid lightgray;
}

#sbs-accordion{
  background-color: white;
}

.stepByStep{
  display: inline-block;
  position:relative;
  min-width: 326px;
  height: 400px;
  border: 1px solid lightgray;
}

#operation {
  font-size:28px;
}

.vis-manipulation{
  position: relative;
  top: -25px;
}